{"action":"ADD_${requestMap.entityInfo.tableUpperName}_INFO_RESPONSE",
 "result":"100",
 "des":"success",
 "content":{
#set ($i=$requestMap.relationList.size())
#set($a=1)
            "id":1#if($i==$a)#else,#set($a=$a+1)#end
            
#foreach($relation in $requestMap.relationList)
#if(${relation.relation}=="ManyToMany") 
#set($a=$a+1)       
#end
#if(${relation.relation}=="OneToMany")
#set($a=$a+1)
#end
#if(${relation.relation}=="ManyToOne")
            "${relation.joinEntityName}Id":1#if($i==$a)#else,#set($a=$a+1)#end
             
#end
#if(${relation.relation}=="ParentToOne")
            "parent${requestMap.entityInfo.entityName}Id":1#if($i==$a)#else,#set($a=$a+1)#end
                        
#end
#if(${relation.relation}=="OneToOne")
		    "${relation.joinColumn}Id":1#if($i==$a)#else,#set($a=$a+1)#end
		     		    
#end
#end              	         
           }
}
