{"action":"DEL_${requestMap.entityInfo.tableUpperName}_INFO_REQUEST",
 "content":{
#set ($i=$requestMap.relationList.size())
#set($a=0)
            "id":1#if($i==$a)#else,#set($a=$a+1)#end
            
#foreach($relation in $requestMap.relationList)
#if(${relation.relation}=="ManyToMany")
            "del#if(${relation.jionFirst}=="Y")${requestMap.entityInfo.entityName}${relation.joinColumnFirstUpper}#else${relation.joinColumnFirstUpper}${requestMap.entityInfo.entityName}#{end}List":"true"#if($i==$a)#else,#set($a=$a+1)#end                                         

#end
#if(${relation.relation}=="OneToMany")
            "del${relation.joinColumnFirstUpper}List":"true"#if($i==$a)#else,#set($a=$a+1)#end

#end
#if(${relation.relation}=="ManyToOne")
            "del${relation.joinColumnFirstUpper}":"true"#if($i==$a)#else,#set($a=$a+1)#end         

#end
#if(${relation.relation}=="ParentToOne")
            "delParent${requestMap.entityInfo.entityName}":"true"#if($i==$a)#else,#set($a=$a+1)#end       

#end
#if(${relation.relation}=="OneToOne")
		    "del${relation.joinColumnFirstUpper}":"true"#if($i==$a)#else,#set($a=$a+1)#end      

#end
#end        
           }
}
