{"action":"QUERY_${requestMap.entityInfo.tableUpperName}_LIST_RESPONSE",
 "result":"100",
 "des":"success",
 "page":{"recordCount":"1","pageCount":"1"},
 "content":{
	"${requestMap.entityInfo.entityPackage}List":[{
#set ($i=$requestMap.columntList.size()+$requestMap.relationList.size())
#set($a=1)
#foreach( $column in $requestMap.columntList)
#if("Long"==$column.fieldType||"Integer"==$column.fieldType||"Float"==$column.fieldType||"BigDecimal"==$column.fieldType)      
            		"${column.fieldName}":1#if($i==$a)#else,#set($a=$a+1)#end   
                               
#else
            		"${column.fieldName}":""#if($i==$a)#else,#set($a=$a+1)#end   
           
#end                  
#end
#foreach( $relation in $requestMap.relationList)
#if(${relation.relation}=="ManyToMany")
            		"${relation.joinColumn}List":[{
#set ($j=${relation.joinTableColumnts2.size()})
#set($b=1)
#foreach( $column in ${relation.joinTableColumnts2})
#if("Long"==$column.fieldType||"Integer"==$column.fieldType||"Float"==$column.fieldType||"BigDecimal"==$column.fieldType)      
                        		"${column.fieldName}":1#if($j==$b)#else,#set($b=$b+1)#end  
					                               
#else
                        		"${column.fieldName}":""#if($j==$b)#else,#set($b=$b+1)#end  
					           
#end                
#end      
                       		}]#if($i==$a)#else,#set($a=$a+1)#end		
                       		 
#end
#if(${relation.relation}=="OneToMany")
            		"${relation.joinColumn}List":[{
#set ($j=${relation.joinTableColumnts2.size()})
#set($b=1)
#foreach( $column in ${relation.joinTableColumnts2})
#if("Long"==$column.fieldType||"Integer"==$column.fieldType||"Float"==$column.fieldType||"BigDecimal"==$column.fieldType)      
                        		"${column.fieldName}":1#if($j==$b)#else,#set($b=$b+1)#end  
					                               
#else
                        		"${column.fieldName}":""#if($j==$b)#else,#set($b=$b+1)#end  
					           
#end                
#end      
                       		}]#if($i==$a)#else,#set($a=$a+1)#end	
                       				    
#end
#if(${relation.relation}=="ManyToOne")
            		"${relation.joinColumn}":{
#set ($j=${relation.joinTableColumnts2.size()})
#set($b=1)
#foreach( $column in ${relation.joinTableColumnts2})
#if("Long"==$column.fieldType||"Integer"==$column.fieldType||"Float"==$column.fieldType||"BigDecimal"==$column.fieldType)      
                        		"${column.fieldName}":1#if($j==$b)#else,#set($b=$b+1)#end  
					                               
#else
                        		"${column.fieldName}":""#if($j==$b)#else,#set($b=$b+1)#end  
					           
#end                
#end      
                       		}#if($i==$a)#else,#set($a=$a+1)#end	
                       				    
#end
#if(${relation.relation}=="OneToOne")
            		"${relation.joinColumn}":{
#set ($j=${relation.joinTableColumnts2.size()})
#set($b=1)
#foreach( $column in ${relation.joinTableColumnts2})
#if("Long"==$column.fieldType||"Integer"==$column.fieldType||"Float"==$column.fieldType||"BigDecimal"==$column.fieldType)      
                        		"${column.fieldName}":1#if($j==$b)#else,#set($b=$b+1)#end  
					                               
#else
                        		"${column.fieldName}":""#if($j==$b)#else,#set($b=$b+1)#end  
					           
#end                
#end      
                       		}#if($i==$a)#else,#set($a=$a+1)#end
                       					    
#end
#if(${relation.relation}=="ParentToOne")
            		"parent${requestMap.entityInfo.entityName}":{
#set ($j=${requestMap.columntList.size()})
#set($b=1)
#foreach( $column in ${requestMap.columntList})
#if("Long"==$column.fieldType||"Integer"==$column.fieldType||"Float"==$column.fieldType||"BigDecimal"==$column.fieldType)      
                        		"${column.fieldName}":1#if($j==$b)#else,#set($b=$b+1)#end  
					                               
#else
                        		"${column.fieldName}":""#if($j==$b)#else,#set($b=$b+1)#end  
					           
#end                
#end      
                       		}#if($i==$a)#else,#set($a=$a+1)#end	
                       				    
#end            				    					     
#end 
            	 }]
	}
}

