@charset "utf-8";
/* CSS Document */
.font_blue{ color:#00afcc; font-weight:bold;}
.font_blue1{ color:#00afcc; font-weight:bold; width:20%;}
.font-Orange{ color:#f39800;}
.font-24{ font-size:24px;}
.font-normal{ font-weight:normal;}