@charset "utf-8";
/* CSS Document */
/*预约样式*/
body{ padding:0; margin:0; font-family:"Microsoft Yahei";}
.logo img{ float:left;}
.logo span{ float:left; display:inline-block; line-height:26px; font-size:1.1em; color:#fff; padding-left:10px;}
.page_Title{ line-height:45px; font-size:1.1em;}


.page-body{  padding-bottom:40px;}
.main{ background-color:#fff; }
.page_nav{ height:40px; background:#eaeaea; border-top:2px #cecece solid; line-height:36px;padding-right: 15px; padding-left: 15px;}
.col-xs-6-1{ padding-right:15px;}
.form-control{ margin-left:0 !important}
/*.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4{ padding-right:0px; padding-left:0;}*/
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
.frm{ padding-top:5%;}



/*自定义按钮*/
.my_btn-default{ 
  width:90%; 
  margin:0 auto;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  text-align:center;
  }
.my_btn-default:hover,
.my_btn-default:focus,
.my_btn-default.focus,
.my_btn-default:active,
.my_btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.my_btn-warning{ 
  width:90%; 
  margin:0 auto;
  color: #fff;
  background-color: #f39800;
  border-color: #eea236;
  text-align:center;
  }
.my_btn-warning:hover,
.my_btn-warning:focus,
.my_btn-warning.focus,
.my_btn-warning:active,
.my_btn-warning.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #d58512;
  border-color: #d58512;
}


.my_btn-success{ 
  width:90%; 
  margin:0 auto;
  color: #fff;
  background-color: #7fbe26;
  border-color: #7fbe26;
  text-align:center;
  }
.my_btn-success:hover,
.my_btn-success:focus,
.my_btn-success.focus,
.my_btn-success:active,
.my_btn-success.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #72ad1f;
  border-color: #72ad1f;
}


/*搜索*/
.searchbox { height: 32px; padding: 8px 10px;}
.search { height: 32px; background: #FFF; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 0 42px 0 10px; position: relative; outline:none; }
.searchbox .suru { width: 100%; height: 32px; font-size: 1.0em; padding: 0; color: #333; background: #FFF; border: none; border: 0; }
.tjbtn { width: 32px; height: 32px; float: right; border: none; background:url(../../weixinimages/AttentionFollowimages/search.png) no-repeat center center; background-size: 18px 18px; position: absolute; top: 0; right: 0; }


/*图文列表*/
*{ padding:0; margin:0;}
a{ color:#555;}
a:hover{ color:#f39800;}
.none{ display:none;}
ul li{list-style:none;}
.list_pic li{ list-style:none; padding:2% 0 2% 0; border-bottom:1px #e6e6e6 solid;}
.list_pic .col-xs-4 img,.list_pic .col-sm-4 img{ width:100%;}
.list_pic .col-xs-2,.list_pic .col-sm-2{ padding-top:7%;}
.list_pic .col-xs-2 img,.list_pic .col-sm-2 img{ width:50%;}


/*遮罩层*/
.modal{ margin-top:150px;}
.modal-header{ height:40px; background:#f39800;}


.label_1{ margin-left:-10%; width:100%;}
.select_my img{ width:80%;}


/*预约详情页面*/
.appoint_pic{position:relative;}
.appoint_pic img{ width:100%;  z-index:1; height:auto;}
.appoint_pic span{position:absolute; bottom:5%; left:2%; z-index:1000; display:block; width:98%; height:30px; color:#fff;}
.main_norbg{ line-height:1.4em;}
.Merchant span{ display:block; width:100%;}
.Merchant span img{ width:80px;}
.Merchant .col-xs-6{ border-top:1px #ddd solid; border-bottom:1px #ddd solid; padding:2% 0; border-left:1px #ddd solid;} 
.Merchant .col-xs-6.first{ border-left:none;}
.Merchant .col-xs-6 a{ display:block; width:100%; text-align:center; line-height:1.4em;}


/*绑定设备样式*/
.list_pic .col-xs-3 img,.list_pic .col-sm-3 img{ width:100%;}
.top_right{ float:right; width:40px; padding:15px 20px 0 0;}
.top_right img{ width:100%;}


/*服务评价样式*/
.pad-right{ padding-right:20px;}
.seaver_con li{ padding-top:10px;}
.seaver_con img{ width:80px;}
.sev_con{ background:url(../../weixinimages/AttentionFollowimages/bg.png) repeat-y 15px 0px; padding-left:2px;}
.sev_title1{ background:url(../../weixinimages/AttentionFollowimages/raidos1.png) no-repeat left 0; background-size:30px; padding-left:35px;}
ul.sai_pic{ padding-left:35px;}
ul.sai_pic li{ float:left; width:25%; float:left; }
ul.sai_pic li img{ width:90%;}
.sev_con .row{ padding:0 30px 0 50px;}
.sev_con .row .col-xs-6{ width:50%; padding:0; margin:0;}
.sev_title2{ background:url(../../weixinimages/AttentionFollowimages/raidos2.png) no-repeat 5px 10px; background-size:20px; padding-left:35px; padding-top:10px;}

/*关注老人样式*/
ul.pay_man li{ padding:3% 0;}
.top_right_man{ float:right; width:50px; padding:15px 20px 0 0;}
.gz_man_pic{ width:25%; float:left; margin-right:5%;}
.gz_man_con span{ display:block;}
.gz_man_con span strong{ font-size:16px;}
.gz_man_pic img{ width:100%;}
.gz_man_con{ width:65%; float:left;}
.gz_mam_right{ width:5%; float:right; padding-top:8%;}

/*老人信息样式*/
.info_pic{ width:40%; margin:0 auto; padding:5%;}
.info_pic img{ width:100%;}
.info_ul span.first{ display:inline-block; width:30%; float:left; letter-spacing:2px;}
.info_ul span.second{display:inline-block; width:70%; float:left; text-align:right;}

/**/
.seaver_listpic li{ width:25%; float:left;}
.seaver_listpic li img{ width:80%; margin:0 auto; display:block;}

/*设备信息样式*/
.equip_ul li{ padding-left:3px;}
.equip_ul li span.first{ padding-left:16px;}
.equip_ul li span.second{ padding-right:15px;}
.equip_ul li span.postion{ background:url(../../weixinimages/AttentionFollowimages/w_1.png) no-repeat left 1px; background-size:13px auto;}
.bdsb_list li .col-xs-6 span,.bdsb_list li .col-sm-6 span{ display:block;}

/*设备历史信息样式*/
.hist_ul li span{ display:block;}
.hist_ul li span.first{ width:70%; float:left;}
.hist_ul li span.second{ width:30%; float:right;}

.hist_ul li{ padding-left:3px; position:relative;}
.hist_ul li span.first{ padding-left:16px;}
.hist_ul li span.second{ padding-right:15px;}
.hist_ul li span.postion{ background:url(../../weixinimages/AttentionFollowimages/w_1.png) no-repeat left 1px; background-size:13px auto;}

.pic_my{ width:80px; position:absolute; right:15px;}
.bus_con span{ display:block;}


/*商家介绍样式*/
.business_ul li{ padding:10px 0;border-bottom:1px #ddd solid;}
.business_ul .col-xs-4 img{ width:100%;}
.business_ul .col-xs-3 img{ width:100%;}
.business_ul .my_col_4{ padding:0; margin:0;}

/*底部样式*/
.panel-footer{ text-align:center; position:fixed; bottom:0; width:100%;}


