@charset "UTF-8";

/* fore start */
#noscript {
	position: absolute;
	z-index: 1000;
	height: 2046px;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #FFF;
	text-align: center;
}

/* login start */
#login {
	min-width: 900px;
	width: auto;
	max-width: 1440px;
	min-height: 900px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	background: #FFF url("../image/bg-login.png") center no-repeat;
	-webkit-box-shadow: #888 0px 0px 15px;
	-moz-box-shadow: #888 0px 0px 15px;
	box-shadow: #888 0px 0px 15px;
}

#bgcolor {
	position: absolute;
	width: 1440px;
	height: 900px;
	top: 50%;
	left: 50%;
	margin: -240px 0 0 -720px;
	background: none;
}

#auto {
	width: 900px;
	height: 290px;
	margin: auto;
	padding-top: 120px;
	background: url("../image/bg-login-panel.png") center bottom no-repeat;
}

#word {
	display: table-caption;
	width: 100%;
	height: 160px;
	margin-top: -100px;
	color: #f39a00;
	font-size: 52px;
	text-align: center;
	text-shadow: 1px 2px 2px orangered;
}

#logoPanel {
	display: table-cell;
	background: none;
	width: 420px;
	height: 150px;
	padding: 40px 0;
	vertical-align: top;
}

#wordPanel {
	float: left;
	background: none;
	width: 300px;
	height: 230px;
	margin: 0 35px;
}

#loginPanel {
	display: table-cell;
	background: none;
	width: 480px;
	height: 230px;
	vertical-align: top;
}

#loginPanel table {
	width: 100%;
	margin: 20px 70px 0 0;
}

#loginPanel td,#loginPanel a {
	color: #000;
}

#loginPanel input[type="text"],#loginPanel input[type="password"] {
	width: 230px;
	height: 45px;
	margin: 12px 0;
	padding: 0 10px;
	font-size: 18px;
	color: #A9A9A9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
}

#loginPanel input[type="submit"] {
	margin: 0 0.2em 0 -3em;
	padding: 0.5em 2em;
	background: #f39801;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
}

#loginPanel input[type="submit"]:hover {
	background: #8aca30;
}

/* login end */
#header {
	min-width: 1440px;
	width: 100%;
	height: auto;
	margin: auto;
	background: #F39800;
}

#panel {
	min-width: 1440px;
	width: 100%;
	height: 760px;
	margin: auto;
	overflow: hidden;
	background: #FFF;
}

#footer {
	min-width: 1440px;
	width: 100%;
	min-height: 30px;
	line-height: 30px;
	margin: auto;
	background: #F39800;
	color: #fff;
	text-align: center;
}

/* header start */
#logo {
	float: left;
	width: 180px;
	height: 80px;
	margin: 0 10px;
	background: url("../image/logo2.png") center no-repeat;
}

#header-menu {
	float: left;
	width: auto;
	height: 80px;
	padding: 0;
	margin: 0;
}

#header-menu ul {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
}

#header-menu li {
	float: left;
	width: auto;
	line-height: 80px;
	font-size: 20px;
	margin: 0;
	padding: 0 1em;
	color: #FFF;
	cursor: pointer;
}

#header-menu li:hover {
	height: 76px;
	background: #c27a01;
	border-bottom: #7fbe27 4px solid;
}

#header-menu a {
	color: #FFF;
}

#header-menu a:hover {
	color: #FFF !important;
}

#header-icon {
	float: right;
	padding: 0 0.5em;
}

#header-icon a {
	color: #000;
}

#header-tool {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #fff;
	color: #8E8E8E;
}

#header-tool li {
	float: left;
	width: auto;
	cursor: pointer;
	margin: 0 0.2em;
	padding: 0 0.5em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
}

#header-tool li:hover {
	background: #F39800;
	color: #fff;
}

#header-tool a {
	color: #fff;
}

/* header end */

/* panel start */
#ifPanel {
	width: 100%;
	height: 760;
	overflow: hidden;
}

#ifContent {
	width: 100%;
	height: 750;
	overflow: hidden;
	overflow-y: auto !important;
}

/* panel end */

/* footer start */

/* footer end */