@charset "utf-8";
/* CSS Document */
.font_blue{ color:#333; font-weight:bold;}
.font_blue1{ color:#333; font-weight:bold; width:30%;}
.font_blue2{ color:#333; font-weight:bold; width:30%;}
.font-Orange{ color:#f39800;}
.font-24{ font-size:24px;}
.font-normal{ font-weight:normal;}