    /*!
 * edit by hss
 * 2016-09-13
 */
 .fixedTOP{position:fixed;left:0px;top:0;z-index:10;width:100%;height:50px;background:#f39800;color:#fff}
	.fixedTOP h3{margin-top:0;line-height:50px;text-align:center;}
	.fixedTOP a.logo{top:0;left:0;position:absolute;color:#fff !important;font-size:20px;padding:12px}
	.fixedTOP a.fresh{top:0;right:0;position:absolute;color:#fff !important;font-size:20px;padding:12px}
	.fixedTOP button{top:10px;right:10px;position:absolute;color:#fff;background:transparent;border:1px solid #bbb}
	.fixedTOP .btn:hover, .fixedTOP .btn:focus{color:#fff;}
	.fixedBOTTOM{position:fixed;bottom:0px;left:0;z-index:10;width:100%;height:50px;background:#2c92c2;}	
	.fixedBOTTOM1{background:#47a447;color:#fff;border-radius:10px;position:fixed;bottom:5px;left:20px;right:20px;z-index:10;height:34px;}	
	.fixedBOTTOM h3{margin-top:0;line-height:50px;text-align:center;}
	.fixedBOTTOM .inputarea textarea{display:block;width:80%;height:50px;resize:none;padding:0 10px}
	.fixedBOTTOM .buttonarea{width:20%;height:100%;border-radius:0}
	.table{margin:50px 0}
	.table th:nth-child(1),.table td:nth-child(1){min-width:110px}
	.table td p{text-indent:15px;margin-top:10px}
	.table th:nth-child(2),.table td:nth-child(2){text-align:right;}
	.table td:nth-child(2) span{color:#888}
	.table td img{width:30%;border:2px solid #666}	
	.tableInTable {width:100%}
	.tableInTable td:nth-child(2){text-align:right;}
	.table>tbody>tr:nth-last-child(1)>td{border-bottom:1px solid #ddd;}
	.jumpPage{text-align:center;margin-bottom:50px}
	.jumpPage a{text-decoration: underline;}

 .BMap_cpyCtrl
{
display:none;
}
.anchorBL{
display:none;
}

/*CHAT*/

.chat-wi .chat-content {
  padding: 5px 15px;
  background: #fff;
}
.chat-wi .chat-conv {
  position: relative;
    text-align: right; 
  padding: 10px;
  margin-bottom: 15px;
}
.chat-wi .chat-conv img {
  position: absolute;
  border: 1px solid #D6DAE0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09);
  background-color:#ddd;
  height: 50px;
  width: 50px;
  vertical-align: top;
  right: 0;
}
.chat-wi .chat-conv .c-bubble {
  position: relative;
  display: inline-block;
  padding: 8px 9px 5px 9px;
  font-size: 12px;
  font-weight: 400;
  color: #FFF;
  margin: 0 60px 0 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-top: 1px solid #4aa4ec;
  border-bottom: 1px solid #2f7ee5;
  box-shadow: 0 1px 0 #7fc6fe inset, 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-image: -moz-linear-gradient(center top, #50b1fe 45%, #348bfc 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50b1fe), to(#348bfc));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #50b1fe, #348bfc);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #50b1fe, #348bfc);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #50b1fe 45%, #348bfc 102%);
  background-color: #43a2ff;
}
.chat-wi .chat-conv .c-bubble span {
  background: url(../images/bubble-tail.png) no-repeat;
  height: 21px;
  width: 12px;
  display: block;
  position: absolute;
  right: -12px;
  top: 5px;
}
.chat-wi .sent {
  text-align: left;
}
.chat-wi .sent .c-bubble {
  margin: 0 0 0 60px;
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #e3e3e3;
  box-shadow: 0 1px 0 #ffffff inset, 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: none;
  color: #666;
  background-image: -moz-linear-gradient(center top, #ffffff 45%, #f3f3f3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #ffffff, #f3f3f3);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #ffffff 45%, #f3f3f3 100%);
}

.chat-wi .chat-conv .c-bubble1 {
  position: relative;
  margin: 0 60px 0 0;
  padding: 0 9px 0 9px;
  font-size: 12px;
  font-weight: 400;
  text-align:right;
  color:#666;
}
.chat-wi .sent .c-bubble1 {
  margin: 0  0 0 60px;
  text-align:left
 
}
.chat-wi .sent img {
  left: 0;
}
.chat-wi .sent .c-bubble span {
  background: url(../images/bubble-tail-l-white.png) no-repeat;
  left: -12px;
}
