{"action":"DEL_${requestMap.entityInfo.tableUpperName}_LIST_REQUEST",
 "content":{
#foreach($relation in $requestMap.relationList)
#set($i=$i+1)
#if(${relation.relation}=="ManyToMany")
            "${relation.joinColumn}Id":1,
            "del#if(${relation.jionFirst}=='Y')${requestMap.entityInfo.entityName}${relation.joinColumnFirstUpper}#end#if(${relation.jionFirst}=='N')${relation.joinColumnFirstUpper}${requestMap.entityInfo.entityName}#{end}List":"true",               
#end
#if(${relation.relation}=="OneToMany")
            "${relation.joinColumn}Id":1,
            "del${relation.joinColumnFirstUpper}List":"true",
#end
#if(${relation.relation}=="ManyToOne") 
            "del${relation.joinColumnFirstUpper}":"true",         
#end
#if(${relation.relation}=="ParentToOne")
            "delParent${requestMap.entityInfo.entityName}":"true",       
#end
#if(${relation.relation}=="OneToOne")	
            "del${relation.joinColumnFirstUpper}":"true",       
#end
#end
#set ($i=0)
#foreach( $column in $requestMap.columntList)
#set($i=$i+1) 
#if("Long"==$column.fieldType||"Integer"==$column.fieldType||"Float"==$column.fieldType||"BigDecimal"==$column.fieldType)      
            "${column.fieldName}_gt":1,
            "${column.fieldName}_ge":1,
            "${column.fieldName}_lt":1,
            "${column.fieldName}_le":1,
            "${column.fieldName}_in":"1,2",
            "${column.fieldName}":1#if($i==$requestMap.columntList.size())#else,
#end  		                               
#else
#if(${column.fieldUpperName.indexOf("TIME")}>-1||${column.fieldUpperName.indexOf("DATE")}>-1)  
            "${column.fieldName}_gt":"",
            "${column.fieldName}_ge":"",
            "${column.fieldName}_lt":"",
            "${column.fieldName}_le":""#if($i==$requestMap.columntList.size())#else,
#end  
#else
            "${column.fieldName}_like":"",
            "${column.fieldName}_isNull":"true",
            "${column.fieldName}_isNotNull":"true",
            "${column.fieldName}_in":"1,2",
            "${column.fieldName}":""#if($i==$requestMap.columntList.size())#else, 
#end   	           
#end    
#end	        
#end             
           }
}
