{"action":"QUERY_${requestMap.entityInfo.tableUpperName}_LIST_REQUEST",
 "page":{"pageno":"1","pagesize":"10"},
 "order":[{"column":"id","type":"desc"}],
 "content":{
#foreach($relation in $requestMap.relationList)
#if(${relation.relation}=="ManyToMany")
            "${relation.joinColumn}ListShow":"true",                                                    
#end
#if(${relation.relation}=="OneToMany")
            "${relation.joinColumn}ListShow":"true",           
#end
#if(${relation.relation}=="ManyToOne")
            "${relation.joinColumn}Show":"true",                   
#end
#if(${relation.relation}=="ParentToOne")
            "parent${requestMap.entityInfo.entityName}Show":"true"                 
#end
#if(${relation.relation}=="OneToOne")
		    "${relation.joinColumn}Show":"true"		       
#end
#end
#foreach($relation in $requestMap.relationList)
#if(${relation.relation}=="ManyToMany")
            "${relation.joinColumn}Id":1,          
#end
#if(${relation.relation}=="OneToMany")
            "${relation.joinColumn}Id":1,
#end
#if(${relation.relation}=="ManyToOne")          
#end
#if(${relation.relation}=="ParentToOne")        
#end
#if(${relation.relation}=="OneToOne")	    
#end
#end
#set ($i=0)
#foreach( $column in $requestMap.columntList)
#set($i=$i+1)
#if("Long"==$column.fieldType||"Integer"==$column.fieldType||"Float"==$column.fieldType||"BigDecimal"==$column.fieldType)      
            "${column.fieldName}_gt":1,
            "${column.fieldName}_ge":1,
            "${column.fieldName}_lt":1,
            "${column.fieldName}_le":1,
            "${column.fieldName}_in":"1,2",
            "${column.fieldName}":1#if($i==$requestMap.columntList.size())#else,
#end  		                               
#else
#if(${column.fieldUpperName.indexOf("TIME")}>-1||${column.fieldUpperName.indexOf("DATE")}>-1)  
            "${column.fieldName}_gt":"",
            "${column.fieldName}_ge":"",
            "${column.fieldName}_lt":"",
            "${column.fieldName}_le":""#if($i==$requestMap.columntList.size())#else,
#end  
#else
            "${column.fieldName}_like":"",
            "${column.fieldName}_isNull":"true",
            "${column.fieldName}_isNotNull":"true",
            "${column.fieldName}_in":"1,2",
            "${column.fieldName}":""#if($i==$requestMap.columntList.size())#else,
#end    	           
#end    
#end	        
#end	        
	        }
}

